<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdzLok - Receipt</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="assets/css/styles.css"> -->
</head>
<body>

<div class="container">
    <div class="content">
        <div class="text-center">
            <img style="margin-top: 20px" src="https://ci4.googleusercontent.com/proxy/6guucQpfSYXgH8YGLfis3Nt6-uJ7rjHxmPsY2RlV4jQS3qCtz3wRDB6ireDcu1pd_1FIJ8G-yNYDm_SIRV-Xg_ieUMOK=s0-d-e1-ft#https://adzlok.co.za/assets/img/logo/logo-icon.png" id="logo" height="90">
            <p style="margin-top: 10px; font-size: 23px; font-weight: 600">AdzLok</p>
            <p>Electricity Credit Token</p>
        </div>
        <!--------------------- GENERAL INFO ---------------------->
      <div class="text-center">
         <h1>Error Generating Receipt</h1>
         {% if response.message  %}
         <small> Error Message: {{ response.message }}</small>
         {% elif response.response is defined %}
         <small> Error Message: {{ response.response.data.ErrorText }}</small>
         {% elif response.error is mapping  %}
         <small> Error Message: {{ response.error.error }}</small>
         {% endif %}
      </div>

    <!--------------------- CUSTOMER MSG ---------------------->
    </div>
        <p class="text-center">Customer Helpline 087 674 33778</p>
    </div>
    <!--------------------- END OF CUSTOMER MSG ---------------------->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>