<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdzLok - Receipt</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="assets/css/styles.css"> -->
</head>
<body>

<div class="container">
    <div class="content">
        <div class="text-center">
            <img style="margin-top: 20px" src="https://ci4.googleusercontent.com/proxy/6guucQpfSYXgH8YGLfis3Nt6-uJ7rjHxmPsY2RlV4jQS3qCtz3wRDB6ireDcu1pd_1FIJ8G-yNYDm_SIRV-Xg_ieUMOK=s0-d-e1-ft#https://adzlok.co.za/assets/img/logo/logo-icon.png" id="logo" height="90">
            <p style="margin-top: 10px; font-size: 23px; font-weight: 600">AdzLok</p>
            <p>Electricity Credit Token</p>
        </div>
       
        {% if response.success == true %}
         <!--------------------- GENERAL INFO ---------------------->
        <div class="col-md-6 offset-md-3">
            <div>
                <strong>
                    Distributor:
                </strong>
                <span>
                    {{ response.response.data.Utility }}
                </span>
            </div>
    
            <div>
                <strong>
                    VAT Number:
                </strong>
                <span>
                    {{ response.response.data.VatNo }}
                </span>
            </div>
    
            <div>
                <strong>
                    Date:
                </strong>
                <span>
                    {{ response.response.data.DateTime }}
                </span>
            </div>
    
            <div>
                <strong>
                    Reference #:
                </strong>
                <span>
                    {{ response.response.data.Reference }}
                </span>
            </div>
    
            <div>
                <strong>
                    Meter #:
                </strong>
                <span>
                    {{ response.response.data.Meter.MeterNum }}
                </span>
            </div>
          <hr/>
        </div>
         <!--------------------- END OF GENERAL INFO ---------------------->
        {% if response.response.data.Tokens is defined %}
            <!--------------------- CREDIT TOKEN ---------------------->
            {% if response.response.data.Tokens is not mapping %}
           <!--------------------- TOKENS IS ARRAY ---------------------->
            <h1>NO INFORMATION</h1>
         {% else %}
         <!--------------------- TOKENS IS OBJECT ---------------------->    
        <div class="col-md-6 offset-md-3">
            <div>
                <div class="text-center">
                    == Credit Token ==
                </div>
                <p class="text-center" style="font-size: 24px">
                   {{ response.response.data.Tokens.Token.Number }}
                </p>
            </div>
    
            <div>
                <strong>
                    Description:
                </strong>
                <span class="float-right">
                    {{  response.response.data.Tokens.Token.Desc }}
                </span>
            </div>
    
            <div>
                <strong>
                    Units:
                </strong>
                <span class="float-right">
                    {{  response.response.data.Tokens.Token.Units }}Kwh
                </span>
            </div>
    
            <div>
                <strong>
                    Amount:
                </strong>
                <span class="float-right">
                    R{{  response.response.data.Tokens.Token.Amount }}
                </span>
            </div>
    
            <div>
                <strong>
                    VAT:
                </strong>
                <span class="float-right">
                    {{  response.response.data.Tokens.Token.Tax }}
                </span>
            </div>
    
            <!-- <div>
                <strong>
                    Amount:
                </strong>
                <span class="float-right">
                    R20
                </span>
            </div> -->

            <div>
                <strong>
                    Receipt:
                </strong>
                <span class="float-right">
                    {{  response.response.data.Tokens.Token.ReceiptNumber }}
                </span>
            </div>
            <hr/>
        </div>
        {% endif %}
        <!--------------------- CREDIT TOKEN ---------------------->
        {% endif %}

        {% if response.response.data.Debts is defined %}
            <!--------------------- DEBTS || ARREARS ---------------------->
        <div class="col-md-6 offset-md-3">
            <div>
                <strong>
                    Description:
                </strong>
                <span class="float-right">
                    {{ 'Debts' }}
                </span>
            </div>
    
            <div>
                <strong>
                    Amount:
                </strong>
                <span class="float-right">
                    {{ response.response.data.Debts.Debt.Amount }}
                </span>
            </div>
    
            <div>
                <strong>
                    Reason:
                </strong>
                <span class="float-right">
                    {{ response.response.data.Debts.Debt.Reason }}
                </span>
            </div>
    
            <div>
                <strong>
                    Remaining Debts:
                </strong>
                <span class="float-right">
                    {{ response.response.data.Debts.Debt.Remain }}
                </span>
            </div>
    
            <div>
                <strong>
                    Receipt:
                </strong>
                <span class="float-right">
                    {{ response.response.data.Debts.Debt.ReceiptNumber }}
                </span>
            </div>
            <hr/>
        </div>
        <!--------------------- END OF DEBTS ---------------------->
        {% endif %}

        {% if response.response.data.FixedCosts is defined %}
            <!--------------------- SERVICE CHARGES || FIXED COSTS ---------------------->
        <div class="col-md-6 offset-md-3">
            <div>
                <strong>
                    Description:
                </strong>
                <span class="float-right">
                    {{ 'Service Charge' }}
                </span>
            </div>
    
            <div>
                <strong>
                    Amount:
                </strong>
                <span class="float-right">
                    R{{ response.response.data.FixedCosts.Fixed.Amount }}
                </span>
            </div>
    
            <div>
                <strong>
                    Reason:
                </strong>
                <span class="float-right">
                    {{ response.response.data.FixedCosts.Fixed.Reason }}
                </span>
            </div>
    
            <div>
                <strong>
                    Receipt:
                </strong>
                <span class="float-right">
                    {{ response.response.data.FixedCosts.Fixed.ReceiptNumber }}
                </span>
            </div>
            <hr/>
        </div>
        <!--------------------- END OF SERVICE CHARGE ---------------------->
        {% endif %}

        {% if response.response.data.Tariff is defined %}
         <!--------------------- TARIFF BLOCK TOKEN ---------------------->
         <div class="col-md-6 offset-md-3">
            <div class="text-center">
                {{ for tariff in response.response.data.Tariff.split(':') }}
                    <strong>tariff</strong>
                {% endfor %}
            </div>
            <hr/>
        </div>
        <!--------------------- END OF TARIFF BLOCK TOKEN ---------------------->
        {% endif %}

    </div>

    <!--------------------- RECEIPT FOOTER ---------------------->
    <div class="col-md-6 offset-md-3">
        <div>
            <strong>
                TT:
            </strong>
            <span class="float-right">
                {{  response.response.data.Meter.Tt }}
            </span>
        </div>

        <div>
            <strong>
                Alg:
            </strong>
            <span class="float-right">
                {{  response.response.data.Meter.Alg }}
            </span>
        </div>

        <div>
            <strong>
                SGC:
            </strong>
            <span class="float-right">
                {{  response.response.data.Meter.Sgc }}
            </span>
        </div>

        <div>
            <strong>
                KRN:
            </strong>
            <span class="float-right">
                {{  response.response.data.Meter.Krn }}
            </span>
        </div>

        <div>
            <strong>
                Ti:
            </strong>
            <span class="float-right">
                {{  response.response.data.Meter.Ti }}
            </span>
        </div>
        <hr/>
        <!--------------------- CREDIT TOKEN ---------------------->
    </div>
        {% endif %}

   
    <!--------------------- CUSTOMER MSG ---------------------->
    </div>
        <p class="text-center">Customer Helpline 087 674 33778</p>
    </div>
    <!--------------------- END OF CUSTOMER MSG ---------------------->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>